
<div class="bottomMenu">
    <table>
        <tr>
            <td class="bottom_menu" lang="1">
                <a href="yangsheng.html"> <img lang="home" src="{$IMG}wx/home.png" alt="" id="ft_btn1"/></a>
            </td>
            <td class="bottom_menu" lang="2">
                <a href="shop.html"><img lang="try" src="{$IMG}wx/try.png" alt="" id="ft_btn2"/></a>
            </td>
            <td class="bottom_menu" lang="3">
                <a href="/user/ddcenter.html"><img lang="myorder" src="{$IMG}wx/myorder.png" alt="" id="ft_btn3"/></a>
            </td>
            <td class="bottom_menu" lang="4">
                <a href="/user/user.html"><img lang="people" src="{$IMG}wx/people.png" alt="" id="ft_btn4"/></a>
            </td>
        </tr>
        <tr>
            <td class="bottom_menu" lang="1" id="ft_btn_title1">
                首页
            </td>
            <td class="bottom_menu" lang="2" id="ft_btn_title2">
                理疗店
            </td>
            <td class="bottom_menu" lang="3" id="ft_btn_title3">
                订单
            </td>
            <td class="bottom_menu" lang="4" id="ft_btn_title4">
                我的
            </td>
        </tr>
    </table>
</div>

