<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>关于我们</title>

    <link rel="stylesheet" href="{$CSS}weui/dist/style/weui.css"/>

</head>
<body>

<div class="page">
    <div class="page__bd">
        <article class="weui-article">
            <section>
                {$goup->content}
            </section>
        </article>
    </div>

</div>

</body>
</html>
