
<div class="footnav">
    <div class="col-xs-3 text-center"><a href="/dz_wsc2_new/index.html"><i class="iconfont icon-shop"></i><p>商城</p></a></div>
    <div class="col-xs-3 text-center"><a href="shopOrder.html"><i class="iconfont icon-huodongfj"></i><p>商城订单</p></a></div>
    <div class="col-xs-3 text-center"><a href="ddcenter.html"><i class="iconfont icon-liebiao"></i><p>理疗订单</p></a></div>
    <div class="col-xs-3 text-center"><a href="liliao.html"><i class="iconfont icon-dizhi"></i><p>同城</p></a></div>
</div>
