<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="{$CSS}yangsheng2/font_1459473269_4751618.css">
    <link href="{$CSS}yangsheng2/bootstrap.min.css" rel="stylesheet">
    <link href="{$CSS}yangsheng2/style.css?v=<?php echo time(); ?>" rel="stylesheet">
    <script src="{$JS}yangsheng2/jquery.min.js"></script>
    <script src="{$JS}yangsheng2/bootstrap.min.js"></script>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="{$CSS}yangsheng2/menu_elastic.css" />
    <script src="{$JS}yangsheng2/snap.svg-min.js"></script>
    <!--[if IE]>
    <script src="{$JS}yangsheng2/html5.js"></script>
    <![endif]-->
</head>
<body class="huibg">
<div class="vipcenter">
    <div class="vipheader">
        <a href="userinfo.html">
            <div class="touxiang"><img src="{$fans->headimg}" alt=""></div>
            <div class="name">{$fans->nickname}</div>
            <div class="gztt">认证会员，已关注</div>
        </a>
    </div>
    <div class="vipsan">
        <div class="col-xs-4 text-center"><a ><h4>等级</h4><p>Vip1</p></a></div>
        <div class="col-xs-4 text-center"><a ><h4>佣金</h4><p>1200</p></a></div>
        <div class="col-xs-4 text-center"><a ><h4>待落实</h4><p>3</p></a></div>
    </div>
    <ul class="vipul">

        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-zanyang"></i></div>
                <div class="lzz">人事管理1</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-liebiao"></i></div>
                <div class="lzz">人事管理2</div>
                <div class="rizi"><i class="iconfont icon-shengriliwu"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-kefuyouxian"></i></div>
                <div class="lzz">人事管理3</div>
                <div class="rizi"><i class="iconfont icon-tupian"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-quxiao"></i></div>
                <div class="lzz">人事管理4</div>
                <div class="rizi"><i class="iconfont icon-jifeny"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-caidan"></i></div>
                <div class="lzz">人事管理5</div>
                <div class="rizi"><i class="iconfont icon-wenjian2"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-jifenx"></i></div>
                <div class="lzz">人事管理6</div>
                <div class="rizi"><i class="iconfont icon-dianjishou"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-gouwuche"></i></div>
                <div class="lzz">人事管理7</div>
                <div class="rizi"><i class="iconfont icon-wancheng"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-erweima"></i></div>
                <div class="lzz">人事管理8</div>
                <div class="rizi"><i class="iconfont icon-search"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-x"></i></div>
                <div class="lzz">人事管理9</div>
                <div class="rizi"><i class="iconfont icon-yonghu"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-ff-user"></i></div>
                <div class="lzz">人事管理10</div>
                <div class="rizi"><i class="iconfont icon-sousuo"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-mima"></i></div>
                <div class="lzz">人事管理11</div>
                <div class="rizi"><i class="iconfont icon-bbggouwulan"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-dazhuanpan"></i></div>
                <div class="lzz">人事管理12</div>
                <div class="rizi"><i class="iconfont icon-meun"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-unie642"></i></div>
                <div class="lzz">人事管理13</div>
                <div class="rizi"><i class="iconfont icon-iconupload"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-weibo"></i></div>
                <div class="lzz">人事管理14</div>
                <div class="rizi"><i class="iconfont icon-jiantou"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-arrow"></i></div>
                <div class="lzz">人事管理15</div>
                <div class="rizi"><i class="iconfont icon-chakanditu"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-gouwuche2"></i></div>
                <div class="lzz">人事管理16</div>
                <div class="rizi"><i class="iconfont icon-weixin"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-fanhui"></i></div>
                <div class="lzz">人事管理17</div>
                <div class="rizi"><i class="iconfont icon-yuancha"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shouye"></i></div>
                <div class="lzz">人事管理18</div>
                <div class="rizi"><i class="iconfont icon-tuichu"></i></div>
            </a>
        </li>

        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-duihuan"></i></div>
                <div class="lzz">人事管理19</div>
                <div class="rizi"><i class="iconfont icon-yonghux2"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-huodong"></i></div>
                <div class="lzz">人事管理20</div>
                <div class="rizi"><i class="iconfont icon-chakangonglve"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-xesc"></i></div>
                <div class="lzz">人事管理21</div>
                <div class="rizi"><i class="iconfont icon-taobao"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shop"></i></div>
                <div class="lzz">人事管理22</div>
                <div class="rizi"><i class="iconfont icon-gwche"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-mimaline"></i></div>
                <div class="lzz">人事管理23</div>
                <div class="rizi"><i class="iconfont icon-arrow1"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-disanfangweixin"></i></div>
                <div class="lzz">人事管理24</div>
                <div class="rizi"><i class="iconfont icon-weixinx"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shangchengdaojishi"></i></div>
                <div class="lzz">人事管理25</div>
                <div class="rizi"><i class="iconfont icon-hot2"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-biaoqian"></i></div>
                <div class="lzz">人事管理26</div>
                <div class="rizi"><i class="iconfont icon-iconmingchengpaixu65"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-ewm"></i></div>
                <div class="lzz">人事管理27</div>
                <div class="rizi"><i class="iconfont icon-iconfontxin"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shouji"></i></div>
                <div class="lzz">人事管理28</div>
                <div class="rizi"><i class="iconfont icon-shou01"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-zhaopians"></i></div>
                <div class="lzz">人事管理29</div>
                <div class="rizi"><i class="iconfont icon-wenjian"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-duihuan1"></i></div>
                <div class="lzz">人事管理30</div>
                <div class="rizi"><i class="iconfont icon-toupiao"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-bofangsanjiao"></i></div>
                <div class="lzz">人事管理31</div>
                <div class="rizi"><i class="iconfont icon-yonghux"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-dibudaohangshangcheng"></i></div>
                <div class="lzz">人事管理32</div>
                <div class="rizi"><i class="iconfont icon-home"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-zhanghaoguanli"></i></div>
                <div class="lzz">人事管理33</div>
                <div class="rizi"><i class="iconfont icon-vipcard"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shangcheng"></i></div>
                <div class="lzz">人事管理34</div>
                <div class="rizi"><i class="iconfont icon-vip"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-fenshizhekou"></i></div>
                <div class="lzz">人事管理35</div>
                <div class="rizi"><i class="iconfont icon-wujiaoxing"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-mima1"></i></div>
                <div class="lzz">人事管理36</div>
                <div class="rizi"><i class="iconfont icon-iconfontmianfeichoujiang"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-weibiaoti1"></i></div>
                <div class="lzz">人事管理37</div>
                <div class="rizi"><i class="iconfont icon-xiangqing"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-jiangpin01"></i></div>
                <div class="lzz">人事管理38</div>
                <div class="rizi"><i class="iconfont icon-shuben"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-box"></i></div>
                <div class="lzz">人事管理39</div>
                <div class="rizi"><i class="iconfont icon-youxiang"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-youhuiquan"></i></div>
                <div class="lzz">人事管理40</div>
                <div class="rizi"><i class="iconfont icon-zhuanqujifen"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-gou"></i></div>
                <div class="lzz">人事管理41</div>
                <div class="rizi"><i class="iconfont icon-cailan"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-fenxiang"></i></div>
                <div class="lzz">人事管理42</div>
                <div class="rizi"><i class="iconfont icon-xiajiantou"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-yonghu2"></i></div>
                <div class="lzz">人事管理43</div>
                <div class="rizi"><i class="iconfont icon-sanjiaozuo"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-erweimas"></i></div>
                <div class="lzz">人事管理44</div>
                <div class="rizi"><i class="iconfont icon-wenjian1"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shangjiantou"></i></div>
                <div class="lzz">人事管理45</div>
                <div class="rizi"><i class="iconfont icon-zhaopian"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-dizhi"></i></div>
                <div class="lzz">人事管理46</div>
                <div class="rizi"><i class="iconfont icon-iconfontbianji"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-xs"></i></div>
                <div class="lzz">人事管理47</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-jiantoushang"></i></div>
                <div class="lzz">人事管理48</div>
                <div class="rizi"><i class="iconfont icon-huiyuanzhongxin"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-pinpaigushi"></i></div>
                <div class="lzz">人事管理49</div>
                <div class="rizi"><i class="iconfont icon-klmhuiyuan"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-lock"></i></div>
                <div class="lzz">人事管理50</div>
                <div class="rizi"><i class="iconfont icon-iconfontjifen"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-iconfontdianpu"></i></div>
                <div class="lzz">人事管理51</div>
                <div class="rizi"><i class="iconfont icon-tuimg"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-qiandao"></i></div>
                <div class="lzz">人事管理52</div>
                <div class="rizi"><i class="iconfont icon-iconfontshangcheng"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-chongzhiqiaquan"></i></div>
                <div class="lzz">人事管理53</div>
                <div class="rizi"><i class="iconfont icon-xiaoyuanqiandao"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-chanpinkanban"></i></div>
                <div class="lzz">人事管理54</div>
                <div class="rizi"><i class="iconfont icon-jifen"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-huodongfj"></i></div>
                <div class="lzz">人事管理55</div>
                <div class="rizi"><i class="iconfont icon-youhuiquanguanli"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-shengri"></i></div>
                <div class="lzz">人事管理56</div>
                <div class="rizi"><i class="iconfont icon-gougou"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-26246"></i></div>
                <div class="lzz">人事管理57</div>
                <div class="rizi"><i class="iconfont icon-1"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-tuichux"></i></div>
                <div class="lzz">人事管理58</div>
                <div class="rizi"><i class="iconfont icon-wenjuan"></i></div>
            </a>
        </li>
        <li>
            <a href="shopOrder.html">
                <div class="icc"><i class="iconfont icon-xitongmingpian"></i></div>
                <div class="lzz">人事管理59</div>
                <div class="rizi"><i class="iconfont icon-gougou"></i></div>
            </a>
        </li>

    </ul>
</div>
{T foot}



<script src="{$JS}yangsheng2/classie.js"></script>
<script src="{$JS}yangsheng2/main3.js"></script>
</body>
</html>