<div class="menu-wrap">
    <nav class="menu">
      <div class="icon-list">
        <a href="/wx/yangsheng.html?wid=6789887"><i class="iconfont icon-home"></i><span>首页</span></a>
        <a href="user.html"><i class="iconfont icon-yonghux"></i><span>个人中心</span></a>
        <a href="ddcenter.html"><i class="iconfont icon-liebiao"></i><span>订单中心</span></a>
        <a href="mycoupan.html"><i class="iconfont icon-liebiao"></i><span>优惠券</span></a>
        <!-- <a href="userinfo.html"><i class="iconfont icon-xitongmingpian"></i><span>个人信息</span></a>
        <a href="dizhi.html"><i class="iconfont icon-dizhi"></i><span>地址信息</span></a> -->
      </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
    <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
        <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z"/>
      </svg>
    </div>
  </div>