<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs-->
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="" />
    <title>我的优惠券</title>
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="keywords" content="">
    <!-- 删除默认的苹果工具栏和菜单栏 -->

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 控制状态栏显示样式 -->

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 禁止使用手机自带的格式检测 -->

    <meta content="telephone=no" name="format-detection" />

    <!-- 禁止用户对手机的缩放 -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="icon" href="" type="image/x-icon">
    <!-- css files -->
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{$CSS}wxy/myCoupon.css">
        <link rel="stylesheet" href="{$CSS}weui/dist/style/weui.css"/>
    <style>
      .hdbar{
      	display:-webkit-box;
      	display:-ms-flexbox;
      	display:flex;
      	-webkit-box-pack:justify;
      	-ms-flex-pack:justify;
      	justify-content:space-between;
      	-webkit-box-align:center;
      	-ms-flex-align:center;
      	align-items:center;
      	width:100%;
      	height:50px;
      	padding:0 10px;
      	background-color:#fff;
      	border-bottom:1px solid #ccc;
        }


  	.i-btn{
  		display:inline-block;
		width:36px;
		height:36px;
		border-radius:100%;
		vertical-align:middle}
  	.i-back{
    background: url({$IMG}wx/fanhui.png) center center no-repeat;
    background-size:100% 100%}
    .i-home{
      background:url({$IMG}wx/shouye.png) center center no-repeat;
    background-size:100% 100%}
    </style>
</head>
<body>
<header class="hdbar fixed" style="position: fixed; z-index: 20;">
  <a href="user.html"><span class="i-btn i-back"></span></a>
  我的优惠券
  <a href="/wx/yangsheng.html"><span class="i-btn i-home"></span></a>
</header>
<div class="viewport">
  <div class="buttons-tab" style="top:2.5rem;">
    <a href="#1" class="tab-link button">可使用</a>
    <a href="#2" class="tab-link button">已使用</a>
    <a href="#3" class="tab-link button">已失效</a>
  </div>
  <div class="">
    <div class="tabs">
      <div id="tab1" class="tab" style=" margin-top: 2.5rem;">
          <!-- <div class="rule">优惠券使用规则</div> -->
          {loop $rs as $v}
          <div class="card coup-card app-coup" data-id="0" data-cpn="6538" data-tit="{$v->info->name}" data-type="1">
          	<div class="card-content no-border no-padding">
            	<div class="card-main">
                	<div class="coup-main-hb">现金{$v->info->redcon}元</div>
                	<div class="coup-main-bd">现金<span class="coup-jian">￥<em>{$v->info->redcon}</em></span></div>
                </div>
                <div class="coup-link rightOff">立即<br/>使用</div>
            </div>
            
            <div class="card-footer">
            	<span class="coup-type">
                  满{$v->info->maxcon}元减{$v->info->redcon}元
                </span>
                <span class="coup-time">{substr($v->info->starttime,0,10)}至{substr($v->info->endtime,0,10)}</span>
            </div>
          </div>
          {/loop}
      </div>
      <div id="tab2" class="tab" style=" margin-top: 2.5rem;">

        {loop $yhjed as $v}
        <div class="card coup-card app-coup coup-disable" data-id="0" data-cpn="6520" data-tit="{$v->info->name}" data-type="1">
        	<div class="card-content no-border no-padding">
            	<div class="card-main">
                	<div class="coup-main-hd">现金{$v->info->redcon}</div>
                    <div class="coup-main-bd">现金<span class="coup-jian">￥<em>{$v->info->redcon}</em></span></div>
                </div>
                <div class="coup-link">立即<br/>使用</div>
            </div>
            <div class="card-footer">
              <span class="coup-type"></span>
                <span class="coup-time">已使用</span>
            </div>
        </div>
        {/loop}
      </div>
      <div id="tab3" class="tab" style=" margin-top: 2.5rem;">

      {loop $yhjdated as $v}
        <div class="card coup-card app-coup coup-disable" data-id="0" data-cpn="6520" data-tit="零购官网" data-type="1">
        	<div class="card-content no-border no-padding">
            	<div class="card-main">
                	<div class="coup-main-hd">现金{$v->redcon}</div>
                    <div class="coup-main-bd">现金<span class="coup-jian">￥<em>{$v->redcon}</em></span></div>
                </div>
                <div class="coup-link">进商城<br/>使用</div>
            </div>
            <div class="card-footer">
            	<span class="coup-type"></span>
                <span class="coup-time">已失效</span>
            </div>
        </div>
        {/loop}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.rightOff').click(function(event) {
    location.href="/wx/yangsheng.html";
  });
</script>
<!-- javascript files -->
<!-- Custom javascript -->
<script type="text/javascript" src="{$JS}wx/myCoupon.js?<?php echo time();?>"></script>
<script type="text/javascript" src="{$JS}wx/stats.js" name="MTAH5" sid="500142227" ></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    // 通过下面这个API隐藏右上角按钮
    WeixinJSBridge.call('hideOptionMenu');
});
</script>

</body>

</html>
