<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商户登录</title>
    <link rel="stylesheet" href="{$CSS}wxy/weui.min.css?<?php echo time();?>">
    <style type="text/css">
     .weui-cells_form{ width: 97%; margin: auto;border: 1px solid #d9d9d9; border-radius: 3px; }
     .weui-vcode-btn{ font-size: 15px;border:1px solid #E5E5E5; background-color: #fff; height: 30px; line-height: 30px; border-radius: 3px; margin-right: .3rem; }
</style>
</head>
<body>
<div class="weui-cells__title" style="text-align: center; margin:5rem 0;"><img src="{$IMG}/wx/ewm_logo.png" style="width:30%;"/></div>
<form action="" method="post">{tk()}
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
            <div class="weui-cell__bd">
                {$u->text('uns','class="weui-input" required="required" placeholder="请输入用户名"')}
            </div>
        </div>
        <div class="weui-cell" style=" border-bottom: 1px solid #ececec;">
            <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
            <div class="weui-cell__bd">
                {$u->text('passwords','class="weui-input" required="required" placeholder="请输入密码"')}
            </div>
        </div>
        <div class="weui-btn-area">
            <button id="bsubmit" type="submit" class="weui-btn weui-btn_primary">保存</button>
            <!--<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">登录</a>-->
        </div>
    </div>
</form>

</body>
</html>