<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title></title>
  <meta name="keywords" content="">
  <link href="{$CSS}hw/vmcss2.css" rel="stylesheet" type="text/css">
  <link href="{$CSS}hw/main2.css" rel="stylesheet" type="text/css">
  <script src="{$JS}hw/h.js"></script>
  <script src="{$JS}hw/hianalytics.js"></script>
</head>


<body>

<div class="index-top">
	<!-- 21030531-头部-start -->
	<header class="header" id="index-header"> <!-- 21030531-logo-start -->
		<section class="logo"> <a href="http://m.vmall.com/index"><img src="{$IMG}hw/logo3.png"> </a> 
		</section>
		<!-- 21030531-logo-end -->
		
		<section class="search"> 
			<a id="indexSearch" href="http://m.vmall.com/search/index" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;click icon3&#39;, &#39;click&#39;, &#39;记录【搜索】按钮的点击次数&#39;])"> 
				<input type="text" placeholder="查找商品"> 
				<em class="icon-search"></em> 
			</a> 
		</section> 
		
		<section class="shortcut">
			<ul>
				<li>
					<a id="indexShoppingCart" onclick="_hmt.push([&#39;_trackEvent&#39;, &#39;click icon4&#39;, &#39;click&#39;, &#39;记录【购物车】按钮的点击次数&#39;])" href="http://m.vmall.com/shoppingCart" class="icon-shoppingCart" title="购物车">
					</a>
				</li>
			</ul>
		</section> 
	</header>
	<!-- 21030531-头部-start -->
</div>
<!-- <div class="hr-150-1"></div> -->
<!-- 21030306-首页焦点图-start -->
<section class="pro-gallery pro-gallary2">
	<article class="slider" id="focusImg">
        <div id="slider" style="overflow: hidden; visibility: visible;">
            <ul style="width: 5418px; list-style: none; margin: 0px; transition-duration: 300ms; transform: translate3d(-3870px, 0px, 0px);">                
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150829223808816.png"></a></li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#"><img src="{$IMG}hw/20150821150128181.png"></a></li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150813223839188.png"></a></li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150826223734682.png"></a></li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150828141340202.png"></a></li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150828155915611.png"></a>
                </li>
                <li style="width: 774px; display: table-cell; vertical-align: top;"><a href="#" ><img src="{$IMG}hw/20150813145046878.png"></a></li>
            </ul>
        </div>
        <nav class="slider-btn" id="sliderNav">
            <span id="slider-btn"><em class=" ">&nbsp;</em>&nbsp;<em class=" ">&nbsp;</em>&nbsp;<em class=" ">&nbsp;</em>&nbsp;<em class=" ">&nbsp;</em>&nbsp;<em class="on">&nbsp;</em>&nbsp;<em class=" ">&nbsp;</em>&nbsp;<em class=" ">&nbsp;</em></span>
        </nav>
	</article>
</section>
<!-- 21030306-首页焦点图-end -->

<!-- 20140328-快捷九宫格导航-start -->
<article class="quickNaver">
    <ul class="clearfix">
        <li><a href="#"><i class="icon-classify"></i><p>分类</p></a></li>
        <li><a href="http://m.vmall.com/honor/index"><i class="icon-honor"></i><p>荣耀</p></a></li>
        <!--<li><a href="/category/view"><i class="icon-phones"></i><p>手机</p></a></li>-->
        <li><a href="http://mp.web.ofpay.com/mobilecommon?menu=phone&user=QTExMTE5NjE=#/phonerecharge"><i class="icon-charge"></i><p>话费充值</p></a></li>
        <li><a href="http://m.aicai.com/p/vmall.do?agentId=2334454&vt=5"><i class="icon-lottery"></i><p>彩票</p></a></li>
        <li><a href="http://m.vmall.com/personal/"><i class="icon-account"></i><p>我的</p></a></li>
        <li><a href="http://m.vmall.com/member/order/"><i class="icon-orderm"></i><p>订单</p></a></li>
        <li><a href="http://m.vmall.com/priority"><i class="icon-promo"></i><p>优购码</p></a></li>
        <li><a href="http://m.vmall.com/app/download"><i class="icon-client"></i><p>客户端</p></a></li>
    </ul>
</article>
<!-- 20140328-快捷九宫格导航-end -->

<!-- 对称广告图 -->
<section class="channel-floor">
  <div class="hot-area">
    <div class="b">
      <ul>
      	<li><a href="http://mt.vmall.com/ryb0k1.html"><img src="{$IMG}hw/2015081417471586.png"></a></li><li><a href="http://m.vmall.com/search/index?keywords=12"><img src="{$IMG}hw/20150819151315564.png"></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- 对称广告图 -->

<!--促销商品 update start by dwx285206 20150706-->
<section class="channel-floor">
<article class="recs">
  <header class="h clearfix">
    </header>
    <div class="b">
	 	  	<ul>
	 	  		<li>
	 	  			<div class="first">
	 	  				<a href="http://m.vmall.com/product/2324.html">
	 	  					<img src="{$IMG}hw/142_142_1.jpg">
	 	  					<div class="name">
	 	  						<h3 class="p-name">荣耀7i</h3>
	              				<p class="p-promotion">8月20日18:00—8月31日18:00 开启火爆预约</p>
	             				<p class="p-price"><b>¥ 1899</b></p>
	 	  					</div>
	 	  					<i class="tag-home5"></i>
	 	  				</a>
	 	  			</div>
	 	  		</li>
	 	  		<li>
	 	  	
	 	  			<div class="normal">
	 	  				<a href="http://m.vmall.com/product/1896.html">
	 	  					<img src="{$IMG}hw/142_142_1(1).jpg">
	 	  					<div class="name">
	 	  						<h3 class="p-name">华为P8高配版</h3>
	              				<p class="p-promotion">极致工艺 独具匠心</p>
	             				<p class="p-price"><b>¥ 3588</b></p>
	 	  					</div>
	 	  					<i class="tag-home1"></i>
	 	  				</a>
	 	  			</div>
	 	  	
	 	  			<div class="normal">
	 	  				<a href="http://m.vmall.com/product/2225.html">
	 	  					<img src="{$IMG}hw/142_142_1(2).jpg">
	 	  					<div class="name">
	 	  						<h3 class="p-name">荣耀4A</h3>
	              				<p class="p-promotion">2GB大内存+4核高速CPU</p>
	             				<p class="p-price"><b>¥ 599</b></p>
	 	  					</div>
	 	  					<i class="tag-home5"></i>
	 	  				</a>
	 	  			</div>
	 	  	</li></ul>
 	  		<ul>
	 	  		<li>
	 	  			<div class="normal">
	 	  				<a href="http://m.vmall.com/product/2270.html">
	 	  					<img src="{$IMG}hw/142_142_A1 White.jpg">
	 	  					<div class="name">
	 	  						<h3 class="p-name">华为 麦芒4</h3>
	              				<p class="p-promotion">一体化金属机身；2.5D弧面全高清屏</p>
	             				<p class="p-price"><b>¥ 2099</b></p>
	 	  					</div>
	 	  					<i class="tag-home5"></i>
	 	  				</a>
	 	  			</div>
	 	  		</li>
 	  		<li>
 	  			<div class="normal">
 	  				<a href="http://m.vmall.com/product/1396.html">
 	  					<img src="{$IMG}hw/142_142_1(3).jpg">
 	  					<div class="name">
 	  						<h3 class="p-name">华为  Mate7</h3>
              				<p class="p-promotion">尊享爵士人生</p>
             				<p class="p-price"><b>¥ 2999</b></p>
 	  					</div>
 	  					<i class="tag-home1"></i>
 	  				</a>
 	  			</div>
 	  		</li></ul>
 	  		<ul>
	 	  		<li>
	 	  			<div class="normal">
	 	  				<a href="http://m.vmall.com/product/1182.html">
	 	  					<img src="{$IMG}hw/142_142_07.jpg">
	 	  					<div class="name">
	 	  						<h3 class="p-name">荣耀6高配版</h3>
	              				<p class="p-promotion">选购配件套装更超值</p>
	             				<p class="p-price"><b>¥ 1799</b></p>
	 	  					</div>
	 	  					<i class="tag-home1"></i>
	 	  				</a>
	 	  			</div>
	 	  		</li>
 	  		<li>
 	  			<div class="normal">
 	  				<a href="http://m.vmall.com/product/1070.html">
 	  					<img src="{$IMG}hw/142_142_11.jpg">
 	  					<div class="name">
 	  						<h3 class="p-name">华为P7</h3>
              				<p class="p-promotion">下单立减200元</p>
             				<p class="p-price"><b>¥ 1988</b></p>
 	  					</div>
 	  					<i class="tag-home1"></i>
 	  				</a>
 	  			</div>
 	  		</li></ul>
	 
	 </div>
</article>
</section>
<!--促销商品 update end by dwx285206 20150706-->

<!-- 20140703-热门搜索-start -->
<section class="channel-floor">
  <article class="hot-search">
    <header class="h clearfix">
      <h3 class="title"><span>热点聚焦</span></h3>
    </header>
    <div class="b">
  		
  		<ul>
  			<li><a href="http://m.vmall.com/search/index?keywords=13"><div class="list"> <span>荣耀7 </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=16"><div class="list"> <span>华为P8 </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=17"><div class="list"> <span>荣耀6 Plus </span> </div></a> </li>
  		</ul>
  		<ul>
  			<li><a href="http://m.vmall.com/search/index?keywords=15"><div class="list"> <span>热门配件 </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=14"><div class="list"> <span>畅玩4A </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=22"><div class="list"> <span>华为 Mate7 </span> </div></a> </li>
  		</ul>
  		<ul>
  			<li><a href="http://m.vmall.com/search/index?keywords=12"><div class="list"> <span>移动端专享 </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=23"><div class="list"> <span>4C </span> </div></a> </li>
  		  			<li><a href="http://m.vmall.com/search/index?keywords=24"><div class="list"> <span>畅玩4X </span> </div></a> </li>
  		</ul>
    </div>
  </article>
</section>
<!-- 20140703-热门搜索-end -->

<!--20150706 热销商品 start update by dwx285206 -->
<section class="channel-floor">
<article class="selects">
    <header class="h clearfix">
      <h3 class="title"><span>精品推荐</span></h3>
    </header>
    <div class="b">
    	
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/2322.html">
      					<img src="{$IMG}hw/142_142_L1.jpg">
      					<div class="name">
      						<p class="p-price"></p>
				            <h3 class="p-name">荣耀小K</h3>
				            <p class="p-promotion">全方位亲子沟通</p>
			          	</div>
			          	<i class="tag-home5"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/1983.html">
      					<img src="{$IMG}hw/142_142_1(4).jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 2888</b></p>
				            <h3 class="p-name">华为P8标配版</h3>
				            <p class="p-promotion">诚邀尊享</p>
			          	</div>
			          	<i class="tag-home1"></i>
      				</a>
      			</li>
    	</ul>
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/1817.html">
      					<img src="{$IMG}hw/142_142_01.jpg">
      					<div class="name">
      						<p class="p-price"><b>¥ 1999</b></p>
				            <h3 class="p-name">荣耀X2</h3>
				            <p class="p-promotion">尽显科技之美</p>
			          	</div>
			          	<i class="tag-home1"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/2136.html">
      					<img src="{$IMG}hw/142_142_11(1).jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 699</b></p>
				            <h3 class="p-name">荣耀畅玩4</h3>
				            <p class="p-promotion">前黑后金 限量版</p>
			          	</div>
			          	<i class="tag-home9"></i>
      				</a>
      			</li>
    	</ul>
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/1462.html">
      					<img src="{$IMG}hw/142_142_1(5).jpg">
      					<div class="name">
      						<p class="p-price"><b>¥ 1799</b></p>
				            <h3 class="p-name">华为 G7</h3>
				            <p class="p-promotion">自在 尊享</p>
			          	</div>
			          	<i class="tag-home"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/1822.html">
      					<img src="{$IMG}hw/142_142_1(6).jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 188</b></p>
				            <h3 class="p-name">荣耀路由</h3>
				            <p class="p-promotion">精致外观，双核芯片双频WiFi，快人一步, 别墅级无线覆盖</p>
			          	</div>
			          	<i class="tag-home"></i>
      				</a>
      			</li>
    	</ul>
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/2313.html">
      					<img src="{$IMG}hw/142_142_A1.jpg">
      					<div class="name">
      						<p class="p-price"><b>¥ 499</b></p>
				            <h3 class="p-name">华为  E5771</h3>
				            <p class="p-promotion">随行WiFi Plus,4G疾速网络，WiFi共享；9600mAh充电宝，安全续航!</p>
			          	</div>
			          	<i class="tag-home5"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/1680.html">
      					<img src="{$IMG}hw/142_142_11111.jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 258</b></p>
				            <h3 class="p-name">荣耀盒子</h3>
				            <p class="p-promotion">超越4K 芯画质</p>
			          	</div>
			          	<i class="tag-home1"></i>
      				</a>
      			</li>
    	</ul>
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/1987.html">
      					<img src="{$IMG}hw/142_142_safsg.jpg">
      					<div class="name">
      						<p class="p-price"><b>¥ 599</b></p>
				            <h3 class="p-name">荣耀畅玩平板</h3>
				            <p class="p-promotion">小平板亦是大手机</p>
			          	</div>
			          	<i class="tag-home"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/2388.html">
      					<img src="{$IMG}hw/142_142_sgv.jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 198</b></p>
				            <h3 class="p-name">荣耀小口哨 智控随充蓝牙耳机</h3>
				            <p class="p-promotion">移动端专享价</p>
			          	</div>
			          	<i class="tag-home"></i>
      				</a>
      			</li>
    	</ul>
      		<ul>
      			<li>
      				<a href="http://m.vmall.com/product/2340.html">
      					<img src="{$IMG}hw/142_142_1(7).jpg">
      					<div class="name">
      						<p class="p-price"><b>¥ 49</b></p>
				            <h3 class="p-name">华为 5V2A带线充电头</h3>
				            <p class="p-promotion">移动端专享价</p>
			          	</div>
			          	<i class="tag-home"></i>
      				</a>
      			</li>
    	      			<li>
      				<a href="http://m.vmall.com/product/2247.html">
      					<img src="{$IMG}hw/142_142_1(8).jpg">
      					<div class="name">
				            <p class="p-price"><b>¥ 99</b></p>
				            <h3 class="p-name">荣耀引擎耳机PLUS</h3>
				            <p class="p-promotion">经典再续，全面升级</p>
			          	</div>
			          	<i class="tag-home3"></i>
      				</a>
      			</li>
      </ul>
    </div>
  </article>
</section>
<!--20150706 热销商品 end update by dwx285206 -->
<!-- 21040522-悬浮工具栏-start -->
<section class="hungBar"> <a href="http://m.vmall.com/#" class="button-top"><span>返回顶部</span></a> </section>
<!-- 21040522-悬浮工具栏-end -->
<script src="{$JS}hw/ecWap.js"></script>
<script src="{$JS}hw/base.js"></script>
<script src="{$JS}hw/index.js"></script>




<section id="bottom-area" class="bottom-area">  
  <p class="copyright"><span>Copyright © 2015-2020</span></p>
</section>
	<img src="{$IMG}hw/Mapping.do" style="display: none;">
</body>
</html>