<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
    商品详情
    </title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" href="/wsc/c3.css">
    <script type="text/javascript" src="{$JS}mwm/swipe.js"></script>
    <script>
    	
		$(function(){			
			new Swipe(document.getElementById('slideWrapper'), {
				speed:500,
				auto:3000,
				callback: function(index, elem){
					var lis = $('#bannerTab').children();
					lis.removeClass("cur").eq(index).addClass("cur");
				}
			});
			
		});
		var jjgg = {$p->rowtemp};
		var wid  = {$wid};
		
		function seljsjg(o){
			
			localStorage.lastbuy = null;
			localStorage.lastbuynum = null;
			var ttgg = jjgg;
			if(o===1){
				var bnum = parseInt($('#buyNum').val());
				$('#buyNum').val(bnum+1);
			}else if(o===-1){
				var bnum = parseInt($('#buyNum').val());
				if(bnum>1){
					$('#buyNum').val(bnum-1);
				}
				
			}else if(o){
					$(o).parent().find('.option').removeClass('option_selected');
					$(o).addClass('option_selected');
			}
			if(wid == '6768392'){
				if(bnum >=5){
					var bnum = parseInt('5');
				}else{
					var bnum = parseInt($('#buyNum').val());
				}
			}else{
				var bnum = parseInt($('#buyNum').val());
			}
			
			//价格计算
			var canjs = true;
			$('.skuuiidd').each(function(){
				var tttggg = [];
				var sel = $(this).find('.option_selected');
				if(sel.size()!=1){
					canjs = false;
					return; 
				}
				var tval = $.trim(sel.text());
				var xmval = $(this).attr('rel')+'_'+tval;
				for(var i=0;i<ttgg.length;i++){
					var opp = ttgg[i];
					var oop = opp.spec_array;
					for(var j=0;j<oop.length;j++){
						if(xmval==oop[j]){
							tttggg[tttggg.length] = ttgg[i];
						}
					}
				}
				ttgg = tttggg;
			});
			if(!canjs){
				return canjs;
			}
			if(wid == '6768392'){
				if(bnum >=5){
					localStorage.lastbuynum = 5;
				}else{
					localStorage.lastbuynum = bnum;
				}
			}else{
				localStorage.lastbuynum = bnum;
			}
			//填写价格
			window.buygid = '0';
			if(ttgg.length ==1){
				var teres = ttgg[0];
				//alert((teres.sell_price*bnum).toFixed(2));
				$('.price').text('¥'+((teres.sell_price*bnum).toFixed(2)));
				$('.old_price').text('¥'+((teres.market_price*bnum).toFixed(2)));
				localStorage.lastbuy = $.toJSON(teres);
				return teres;			
			}else{
				return true;
			}
			
		}
		
		function tobuy(){
			var res = seljsjg();
			var gid = '0';
			var tuan =$('#tuan').val();
			var num = $('#buyNum').val();
			if(num >{$p->store_nums} || {$p->store_nums}<=0){
				tusi('商品库存不足');
				return false;
			}
			if(res){
				if(res===true){
					gid = '0';
				}else{
					gid = res.goods_no;
				}
				if(wid == '6768392'){
						if(num >5){
							tusi('单次购买数量不能超过5个');
							num = 5;
						}else{
							num = num;
						}
					}
				if(tuan == 1){
					$.cookie('pid','{$p->id}');
					$.cookie('gid',gid);
					$.cookie('goodsnum','');
					$.cookie('buchong','');
					location.href="/wsc2/tobuy-{$p->id}-buy.html?mm=1&showwxpaytitle=1&gid="+gid;
				}else{
					$.cookie('pid','{$p->id}');
					$.cookie('num',num);
					$.cookie('gid',gid);
					$.cookie('goodsnum','');
					$.cookie('buchong','');
					location.href="/wsc2/tobuy-{$p->id}-buy.html?num="+num+"&showwxpaytitle=1&gid="+gid;
				}
			}else{
				tusi('请选择商品规格');
			}
		}
		function togwc(){
			var res = seljsjg();
			var gid = '0';
			var tuan =$('#tuan').val();
			var num = $('#buyNum').val();
			if(num >{$p->store_nums} || {$p->store_nums}<=0){
				tusi('商品库存不足');
				return false;
			}
			if(res){
				if(res===true){
					gid = '0';
				}else{
					gid = res.goods_no;
				}
				if(wid == '6768392'){

						if(num >5){
							tusi('单次购买数量不能超过5个');
							num = 5;
						}else{
							num = num;
						}
						
					}
				if(tuan == 1){
					location.href="/wsc2/gwc-{$p->id}-add.html?mm=1&gid="+gid;
				}else{
					location.href="/wsc2/gwc-{$p->id}-add.html?num="+num+"&gid="+gid;
				}
			}else{
				tusi('请选择商品规格');
			}
		}
	</script>
  </head>
  <body>
<div class="mod_slider" id="slideList">
        <div class="inner" id="slideWrapper">
          <ul class="pic_list" id="bannerImg">
            {loop $pics as $tj}
            <li style="max-width:380px;max-height:240px;overflow: hidden;">
              <a href="javascript:;">
                <img src="{$tj->src}" style="width:100%;">
              </a>
            </li>
            {/loop}
          </ul>
        </div>
        <div class="bar_wrap">
          <ul class="bar" id="bannerTab">
          {loop $pics as $tj}
            <li id="{$__i}" no="{$__i}" class="">
            </li>
          {/loop}
          </ul>
        </div>
      </div>
<input type='hidden' id='tuan' value="{$tuan}" />
<div class="buy_area">
	<div id="testtt" style="display: none"></div>
    <div class="fn_wrap"><h1 class="fn" id="itemName">{$p->name}</h1></div>

    <div class="price_wrap">
        <span class="tit" id="priceTitle">商城价：</span>
        <span class="price" id="priceSale" price="¥119.00">¥{$p->lowest}</span>
        <del class="old_price"><em id="priceMarket" style="">¥{$p->yj}</em></del>
        <span class="flag" id="priceDis" style="display: none"></span>
      </div>
     
	<div class="old_price_wrap">
        <span>销量：<b id="saleNo">{$p->sale_nums}</b>件</span>
        <a id="addrArea" href="javascript:;"> 配送至：<b id="addrName">{$local}</b><i class="icon_edit"></i></a>
        <span id="postPrice">邮费：{$yf}</span>
        
    </div>

    
    <div class="detail_promote" style="" id="promoteDiv">
        <div class="tit">优惠：</div>
        <!-- 只有一个tag时增加 promote_tag_one -->
        <div class="promote_tag" id="promote">
        {loop $tags as $t}
        <em class="hl_red_bg" style="">{$t}</em>
        {/loop}
        <!-- <em class="hl_red" style="">可用618活动红包(京券)</em> -->
        </div>
        <i class="icon_promote"></i>
    </div>
    
	<div class="buy_tip" id="statusNotice" style="display: none;">
        <i class="icon_warn"></i>
        <span id="statusNote"></span>
    </div>

    <div class="sku_container sku_container_on" id="skuCont">
	    <div class="sku_wrap">            
	    	<div id="propertyDiv">
	    	</div>
	    	{loop $ggres as $k1=>$v1}
	    	<div class="sku skuuiidd" id="sku1" rel="{$k1}">
	    	<h3>{$v1}</h3>
	    	<div class="sku_list">
	    	{_ $ttgg2=$ggres2[$k1]}
	    	{loop $ttgg2 as $k2=>$v2}
	    	<span class="option" onclick="seljsjg(this);">{$v2}</span>
	    	{/loop}
	    	</div></div>
	    	{/loop}
	    	<div class="sku sku_num">
	            <h3>数量</h3>
	            <div class="num_wrap">
	                <span class="minus minus_disabled" id="minus" onclick="seljsjg(-1);"></span>
	                <input class="num" id="buyNum" type="tel" value="1">
	                <span class="plus" id="plus" onclick="seljsjg(1);"></span>
	            </div>
	        </div>
	    </div>
	</div>
    
    <div class="sku_tip" id="skuNotice" style="display:none">
	    <span id="skuTitle2"></span>
	</div>
    
    <div class="btn_wrap btn_wrap_static btn_wrap_nocart">
        <a class="btn btn_cart" id="addCart" href="javascript:;" style="display:table-cell; width: 46%;" onclick="togwc()" ><i></i></a>
        <a class="btn btn_buy" id="buyBtn1"  href="javascript:;" style="display:table-cell; width: 46%;" onclick="tobuy()" >立即购买</a>
    </div>
    
    <div class="jd_service" id="shopInfo">{nl2br($p->ms)}</div>
</div>
	
<div id="detailBaseLine" class="mod_tab_gap"></div>
<div class="mod_tab_wrap">
	<div class="mod_tab" id="detailTab">
	    <span class="cur" no="1" onclick="selhammer(this,0)">商品介绍</span>
	    <span no="2" load="ok" class="" onclick="selhammer(this,1)">商品参数</span>
	    <span no="3" class=""  onclick="selhammer(this,2)">评价(<em id="evalNum">{count($cres)}</em>)</span>
	</div>
</div>
<script>
function selhammer(o,ind){
	$('#detailTab').children('span').removeClass('cur');
	$(o).addClass('cur');	
	$('#detailCont')[0].style['webkitTransform'] = 'translate('+(0-$(window).width()*ind)+'px,0px) translateZ(0)';
}
</script>
<div class="detail_info_wrap" id="detail" style="height: auto;">
    <div class="detail_list" id="detailCont" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition: 300ms; transition: 300ms;">
        <!-- 商品介绍 -->
        <div class="detail_item p_desc" id="detail1" style="position:relative;">
        	<div id="commDesc" class="detail_pc">
        	{$p->detail}
        	</div>
        	<!-- 
        	<div id="pcItemLink" style="">
	        	<a class="btn btn_full" href="javascript:;">查看电脑版商品详情</a>
	        	<div class="detail_full_tip">（ 查看电脑版商品详情，可能会消耗较多流量 ）</div>
        	</div>
        	 -->
        </div>
        <!-- 商品参数 -->
        <div class="detail_item p_prop" id="detail2">
            <div id="commDesc" class="detail_pc">
        	{$p->detailcs}
        	</div>
        </div>
        <!-- 评论 -->
        <div class="detail_item p_cmt" id="detail3">
            <ul class="cmt_list" id="evalDet">
            {loop $cres as $c}
            <li>
    <h3 class="cmt_cnt">{$c->con}</h3>
    <div class="cmt_user">
        <span class="user"></span>
        <span class="date">{$c->create_time}</span>
    </div>
</li>
{/loop}
            </ul>
            
            <div id="eveaLoading"></div>
                <br><br><br><br><br>
        </div>
    </div>
</div>

<div class="btn_wrap btn_wrap_nocart btn_wrap_fixed layer_show" id="buyAreaBtm" style="display: none;">
    <a class="btn_back" href="javascript:history.go(-1)"><i>返回</i></a>
    <div class="btn_col">
        <a class="btn btn_cart" id="addCart2" href="javascript:;" style="display: none"><i></i></a>
        <a class="btn btn_buy" href="javascript:;" onclick="tobuy()" id="buyBtn2">立即购买</a>
    </div>
    <span class="avatar_wrap" id="quckIco1" style="display: none">
        <span class="avatar avatar_my"></span>
        <a href="http://mm.wanggou.com/my/index.shtml?backurl=" id="persLink"></a>
    </span>
</div>
<script type="text/javascript">
$(function(){
	$(window).scroll(function(){
		if($(window).scrollTop()>170){
			$('#buyAreaBtm').show();
		}else{
			$('#buyAreaBtm').hide();
		}
		
	});
});
</script>
<div class="mod_slider_mask" id="blackCover" style="display:none"></div>

<div class="image_viewer" id="imageViewer" style="display:none">
    <div class="inner">
        <img id="fullImg">
    </div>
</div>
{T /_wf}

 <script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady()  {
		WeixinJSBridge.call('hideOptionMenu');
	});
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
    </script>
</body>
  

</html>