<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
    确认购买
    </title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" href="/wsc/c4.css">
    <script type="text/javascript" src="{$JS}mwm/swipe.js"></script>
  </head>
  <body>
    <div id="content">
        <div id="c_wg.jdpay_show" style="">
            <div class="wx_bar">
                <div class="wx_bar_back">
                    <a id="indexBack" href="javascript:history.go(-1);">
                    </a>
                </div>
                <div class="wx_bar_tit">
                    确认订单
                </div>
            </div>
            <div class="wx_wrap">
                <!-- <div id="bindJd" class="account_tips" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
                    您可以绑定京东帐号，
                    <br>
                    使用已有地址、优惠券及京豆！
                    <a href="javascript:void(0);" id="bindJdBtn" class="btn_bind">
                        立即绑定
                    </a>
                    <a href="javascript:void(0);" class="btn_close" id="closeBindJdBtn">
                        关闭
                    </a>
                    <p class="has">
                        如果未绑定，我们将为您生成一个新的京东帐号
                    </p>
                </div> -->
                {if count($dzres)>0}
                {loop $dzres as $dz}
                {if $__i==1 || count($dzres)==1}
                <div id="sendTo" class="send_to" dzid="{$dz->id}">
                    <div class="address_defalut">
                        <h3>
                            送至:
                        </h3>
                        <ul class="selected" id="editAddBtn" onclick="$('.account_tips').toggle();">
                            <li>
                                <span id="rginfoId">
                                <span class="shdz">{$areamap[$dz->s_p]}{$areamap[$dz->s_s]}{$areamap[$dz->s_x]}
                                {$dz->s_addr}</span>
                                </span>
                            </li>
                            <li>
                                <strong>
                                 <span class="shshr">{$dz->shr}</span>
                                </strong>
                                <span class="shdh">{$dz->phone}</span>
                            </li>
                            <li class="error" id="noToneTip" style="display:block;">
                                <a href="/nhyk/myaddr.html" style="color: inherit;">点击管理收货地址，方便更快收货.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {else}
                <div id="bindJd" class="account_tips" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);display: none;"  >
                   <span class="shshr">{$dz->shr}</span>
                    <br>
                    <span class="shdh">{$dz->phone}</span>
                    <a href="javascript:void(0);" id="bindJdBtn" class="btn_bind" onclick="setthisdz(this);" dzid="{$dz->id}">
                     使用该地址
                    </a>
                    <p class="has">
                        <span class="shdz">{$areamap[$dz->s_p]}{$areamap[$dz->s_s]}{$areamap[$dz->s_x]}
                                {$dz->s_addr}</span>
                    </p>
                </div>
                {/if}
                {/loop}
                {else}
                <div id="sendTo" class="send_to" dzid="0">
                    <div class="address_defalut">
                        <h3>
                            地址
                        </h3>
                        <ul class="selected" id="editAddBtn" onclick="$('.account_tips').toggle();">
                            <li class="error" id="noToneTip" style="display:block;">
                                <a href="/nhyk/myaddr.html" style="color: inherit;">点击添加收货地址，方便收货。</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {/if}
                <script type="text/javascript">
                function setthisdz (o){
                	var tp = $(o).parent();
                	var shshr = $('#sendTo').find('.shshr').text();
                	var shdh = $('#sendTo').find('.shdh').text();
                	var shdz = $('#sendTo').find('.shdz').text();
                	var dzid = $('#sendTo').attr('dzid');
                	$('#sendTo').find('.shshr').text(tp.find('.shshr').text());
                	$('#sendTo').find('.shdh').text(tp.find('.shdh').text());
                	$('#sendTo').find('.shdz').text(tp.find('.shdz').text());
                	$('#sendTo').attr('dzid',$(o).attr('dzid'));
                	$(o).attr('dzid',dzid);
                	tp.find('.shshr').text(shshr);
                	tp.find('.shdh').text(shdh);
                	tp.find('.shdz').text(shdz);
                	$('.account_tips').hide();
                }
                $(function(){
                	//if(localStorage.lastbuy){
                	//	var lastbuy = $.evalJSON(localStorage.lastbuy);
                	//	$('.zzdj').text(lastbuy.sell_price);
                	//	$('.zzsy').text(lastbuy.store_nums);
                	//}
                	var tuan = {$tuan};
                	if(tuan != 1){
	                	if(localStorage.lastbuynum){
	                		if({$zhi} == 1){
	                			$('.zzsl').val(localStorage.lastbuynum);
	                		}
	                	}  
                	}
                	jszjg();
                });
                
                function jszjg(){
                	
                	var zjg = 0;
                	$('.only').each(function(){
                		var jg = parseFloat($.trim($(this).find('.zzdj').attr('reljg').replaceAll(',','')))*parseInt($.trim($(this).find('.zzsl').val()));
                		zjg += jg;
                	});
                	
                	$('#totalPrice').text('￥'+zjg);
                	var byj = parseInt($('#totalPrice2').attr('byjg'));
                	var yfzh = 0;
                	if(byj<=0 || zjg<byj){
                		//不包邮
                		$('.dbyfj').each(function(){
                			yfzh = yfzh + parseFloat($(this).attr('yf'));
                		});
                		
                		
                	}

                	if(yfzh==0){
            			$('#totalPrice2').text('包邮(￥0)');
            		}else{
            			$('#totalPrice2').text('￥'+yfzh);
            		}
                	$('#totalPrice3').text('￥'+(yfzh+zjg));
                	window.myzfy = yfzh+zjg;
                	$('#cod_total').html(zjg);
                	$('#cod_yun_nouse').html(yfzh);
                	window.yfzh = yfzh;
                }
                
                function towxzf(){
                	window.paytyp = '3';
                	$('#codFloat').show();
                }
                function tolizf(){
                	window.paytyp = '0';
                	$('#codFloat').show();
                }
                function toalzf(){
                	window.paytyp = '1';
                	$('#codFloat').show();
                }
                function totezf(){
                	window.paytyp = '2';
                	$('#codFloat').show();
                }
                function torealpay(){
                	 if($('#codGoPay').hasClass('sending')) {
                         return false;
                     }
                	$('#codGoPay').addClass('sending');
                	var res = {};
                	res.yf = window.yfzh;
                	res.typ = window.paytyp;
                	res.addid = $('#sendTo').attr('dzid');
                	if(res.addid=='0'){
                		tusi('请添加收获地址');
                		return;
                	}
                	res.xm = [];
                	$('.only').each(function(){
                		var xmtyp = {};
                		xmtyp.id = $(this).attr('relid');
                		xmtyp.num = $(this).find('.count').val();
                		xmtyp.bz = $(this).find('.bz').val();
                		res.xm[res.xm.length] = xmtyp;
                	});
                	                	
                	$('#alldata').val($.toJSON(res));
                	$('#zzzfform').submit();
                }
                </script>
                <div class="order_info" id="orderList">
                    <h3>
                        订单信息：
                    </h3>
                                        
                    {loop $glist as $gl}
                    <dl class="only" style="position: relative;" relid="{$gl->id}">
                        <dd>
                            <ul>
                                <li class="hproduct">
                                    <img class="photo" src="{$gl->pic}" alt="">
                                    <p class="fn">
                                        {$gl->name}
                                    </p>
                                    <p class="sku">
                                        <em> 单价：</em>
                                        <span>  ￥<span class="zzdj" reljg="{$gl->jg}">{$gl->jg}</span>
                                        </span>
                                    </p>
                                    <p class="sku">
                                        <em> 数量： </em>
                                        <span>
                                                {if $tuan == 1}
                                                   <input maxlength="4" class="count zzsl goodsnum" type="tel" value="{$gl->num}" readonly />
                                                {else}
                                                   <input maxlength="4" class="count zzsl goodsnum" type="tel" value="{$gl->num}" onblur="jszjg()" onkeyup="jszjg()" onchange="jszjg()" />
                                                {/if}
                                        </span>
                                    </p>
                                    <p class="sku">
                                        <em>
                                           {loop $gl->gglist as $k=>$v}
                                            {$v}&nbsp;&nbsp;&nbsp;
                                            {/loop}
                                        </em>
                                        <span id="canBuyNum" class="last" style="">可购
                                            <strong tag="skuNum" class="zzsy">
                                                {$gl->kc}
                                            </strong>               件
                                        </span>
                                    </p>
                                </li>
                                <li class="shipping" orderid="1">
                                    <strong>配送方式</strong>
                                    <span id="noSelectPage" class="dbyfj" yf="{$gl->yf}">
                                    {if $gl->yf=='0'}
                                        	（免运费）
                                    {else}
                                    	（快递：{$gl->yf}元）
                                    {/if}
                                    </span>
                                </li>
                                <li class="shipping">
                                    <strong>补充说明：</strong>
                                   <textarea placeholder="选填，可以告诉商家您的要求" name="bz" class='bz' rows="3" cols="40"></textarea>
                                 </li>
                                <!-- todox 返赠 || 包含其他情况 -->
                            </ul>
                        </dd>
                        
                    </dl>
                    {/loop}
                </div>
                <div id="bz">
                                 
                </div>
                <div class="pay_area" id="pay_area" style="-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);">
                    <p class="price">
                        总价:
                        <strong id="totalPrice">
                            ¥549.00
                        </strong>&nbsp;&nbsp;
        邮费:
        <strong id="totalPrice2" byjg="{$set->consume}">
                            ¥549.00
                        </strong>&nbsp;&nbsp;
        合计:
        <strong id="totalPrice3">
                            ¥549.00
                        </strong>
                    </p>
                    <p class="action">
                    {if $wxpay}
                        <a href="javascript:void(0);" id="goPay" style="" class="wechat" onclick="towxzf()">
                            微信支付
                        </a>
                     {/if}
                     {if $alipay}
                        <a href="javascript:void(0);" id="goQQPay" class="qq" onclick="toalzf()">
                            支付宝支付
                        </a>
                    {/if}
                    {if $linepay}
                    <a href="javascript:void(0);" id="codGoPayFloat" onclick="tolizf()">
                            货到付款
                        </a>
                    {/if}
                    
                    {if $tenpay}
                        <a href="javascript:void(0);" id="goTenPay" onclick="totezf()" class="tenpay">
                          	  财付通支付
                        </a>
                    {/if}
                    
                        <a href="javascript:void(0);" id="unionPay" style="display:none;" class="online">
                           	 网银在线支付
                        </a>
                        <!-- 统一付  -->
                        
	                   { if Session::get("wid")==3723 }
	                   		    <a href="javascript:void(0);" id="unionPay"  class="online">
	                           	 统一付支付
	                            </a>
	                   {/if}
                        
                        
                        
                        
                        
                    </p>
                    <p class="assure">
                        腾讯担保，安全支付
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="codFloat" style="display:none;">
        <div class="wx_mask">
        </div>
        <div class="wx_confirm">
            <div class="wx_confirm_inner">
                <div class="wx_confirm_hd">
                    <div class="wx_confirm_tit">
                        是否确认提交订单 并支付？
                    </div>
                    <div class="wx_confirm_close" id="codGoPayCancel2" onclick="$('#codFloat').hide();" title="关闭">
                    </div>
                </div>
                <form id="zzzfform" method="post" target="_self" action="/wsc22/orderpay.html">
                <input type="hidden" name="alldata" id="alldata">
                <div class="wx_confirm_bd">
                    <div class="wx_confirm_cont">
                        <div class="confirm_order">
                            <p>
                                付款金额：
                                <span class="price">
                                    ¥
                                    <span id="cod_total">
                                    </span>
                                </span>
                            </p>
                            <p class="other">
                                                            运费：¥
                                <span id="cod_yun_nouse">
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="wx_confirm_btns">
                        <button type="button" id="codGoPay" onclick="torealpay()">
                            确认
                        </button>
                        <button type="cancel" id="codGoPayCancel" onclick="$('#codFloat').hide();return false;">
                            取消
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div>
    {if $arrres!=''}
    {loop $arrres as $val}
    <div style="margin-top:10px;border-top: 1px dotted #e1e1e1;">
    	<div style="float:left;padding:10px 5px;">
    		<div style="float:left;">
    			<div style="float:left;">
    			<input type="hidden" name="ifsd" id="pgesid" value="{$val[id]}" />
    			<input type="hidden" name="ifguid" id="ifguid" value="{$val[guid]}" />
    				<img   src="{$val[pic]}" width=140 height=80 /> 
    		 	</div>
    		 	<div style="float:left;padding-left:20px;overflow:hidden;width:100px;">
	    			<p style="font-size:14px;padding-top:5px;overflow:hidden;">{$val[name]}</p>
	    			<p style="font-size:14px;padding-top:5px;">&yen; <span style="color:#e4393c">{$val[lowest]}</span></p>
    			</div>
    		</div>
    	</div>
    	<div style="float:right;margin-top:40px;">
    		<a href="javascript:;" style="width: 46%;background:#333333;padding:5px;" onclick="togwcadd('{$val[id]}','{$val[guid]}')" ><i style="color:#FFF;">加入购物车</i></a>
    	</div>
    </div>
    <div style="clear:both;"></div>
    {/loop}
    {/if}
    </div>
    <div style="clear:both;"></div>
    <!--foot-->
    <div class="wx_footer">
        {T /_wf}
    </div>
     <script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady()  {
		WeixinJSBridge.call('hideOptionMenu');
	});
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            WeixinJSBridge.call('hideToolbar');
        });
        
    </script>
    <script>
    function togwcadd(a,b){
	 
		 
		var num = 1;
		 
		 
		location.href="/wsc22/tobuy.html?num="+num+"&piid="+a+"&guid="+b;
	}
    </script>
</body>
  

</html>