<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<base target="mainFrame" />
<link rel="stylesheet" type="text/css" href="{$CSS}wm/index.css" media="all" />
<link rel="stylesheet" type="text/css" href="{$CSS}wm/bootstrap_min.css" media="all" />
<link rel="stylesheet" type="text/css" href="{$CSS}wm/bootstrap_responsive_min.css" media="all" />
<link rel="stylesheet" type="text/css" href="{$CSS}wm/style.css?dds" media="all" />
<link rel="stylesheet" type="text/css" href="{$CSS}wm/themes.css" media="all" />
<style type="text/css">
.main-nav, .icon-nav{
height: 56px;
}
.main-nav li, .icon-nav li,.dropdown{
height: 56px;
}

.icon-nav li.subtitle{
height: 16px;
}
.main-nav li a,#navigation .user .dropdown a,.icon-nav li a,.toggle-nav{
line-height: 36px;
padding: 10px;
}
#navigation .main-nav li a .caret,#navigation .icon-nav li a .caret,#navigation .user .dropdown a .caret{
margin-top: 14px;
}
.ssbody{
-webkit-overflow-scrolling:touch;overflow:auto;
}
</style>
<title>{$_SERVER['WEB_NAME']}-商户管理后台</title>
<link rel="shortcut icon" href="{if $_SERVER['IS_OEM']}/favicon.ico{else}/faviconmy.ico{/if}" />
<script type="text/javascript">
$(function(){
	setInterval(function(){
		if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
			
			if($('#mainFrame').contents().find("body").find('#ipadzsydiv').size()==0){
				$('#mainFrame').contents().find("body").prepend('<style> #ipadzsydiv{ height:500px;-webkit-overflow-scrolling:touch;overflow:auto;}</style>');
				$('#mainFrame').contents().find("body").wrapInner('<div style="-webkit-overflow-scrolling:touch;overflow:auto;" id="ipadzsydiv"></div>');
				$('#mainFrame').contents().find("body").find('#ipadzsydiv').height($('#mainFrame').height());
			}
		} 
		//$('#mainFrame').contents().find("body").attr('style','-webkit-overflow-scrolling:touch;overflow:auto;');
		
		
	},1888);
	if(window.parent && window.parent != window){
		window.parent.location.href = location.href;
	}
	$('#maincolor').find('span').click(function(){
		var col = 'theme-'+$(this).attr('class');
		$('body').removeAttr('class').addClass(col);
		$('#maincolor').hide();
		ajax('ind-setcolor.html',{ col:col},function(){
			$('#mainFrame').contents().find("body").removeAttr('class').addClass(col);
		});
	});
	
	//setInterval(function(){
		//if($('#mainFrame').contents().find("#mainformsundivt").size()==0){
		//	$('#mainFrame').contents().find("body").append('<div id="mainformsundivt" style="height:30px;"></div>');
		//}
	//},500);
});


</script>
</head>
<body class="{Session::get('maintheme')}">
	<div id="navigation">
        <div class="container-fluid" style="position:relative;">
            <div>
                <a href="javascript:;" target="_self" id="brand"><img src="{$_SERVER['LOGO_PIC']}" style="width:130px;height:auto;"/></a>
                <a href="javascript:;" target="_self" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
            </div>
            <ul class='main-nav'>
                <li class='active'>
                    <a href="floor_index.html" target="_self">
                        <span>管理平台</span>
                    </a>
                </li>
                <li style="position: absolute;right: 290px;"><a class="shortcut-button" href="javascript:;">
			            <img src="/media/images/ht/paper_content_pencil_48.png" alt="修改密码" title="修改密码">					
			        </a>
			    </li>
			    <li style="position: absolute;right: 230px;">
			    
			     <a class="shortcut-button" href="###" target="_black">
			     <img src="/media/images/ht/clock_48.png" alt="首页" title="首页">
			      </a>
			   
			      </a>
			    </li>
            </ul>
            <div class="user">
                <ul class="icon-nav">
                    <li class='dropdown'>
                        <a href="javascript:;" class='dropdown-toggle' data-toggle="dropdown" title="消息" style="display:none;"><i class="icon-envelope"></i><span class="label label-lightred">4</span></a>
                    </li>
                    <li class="dropdown sett" style="display:none;">
                        <a href="javascript:;" class='dropdown-toggle' data-toggle="dropdown" title="系统设置"><i class="icon-cog"></i></a>
                    </li>
                    <li class='dropdown colo'>
                        <a href="javascript:;" class='dropdown-toggle' data-toggle="dropdown" title="选择颜色"><i class="icon-tint"></i></a>
                        <ul class="dropdown-menu pull-right theme-colors" id="maincolor">
                            <li class="subtitle">请选择系统颜色
                            </li>
                            <li>
                                <span class='red'></span>
                                <span class='orange'></span>
                                <span class='green'></span>
                                <span class="brown"></span>
                                <span class="blue"></span>
                                <span class='lime'></span>
                                <span class="teal"></span>
                                <span class="purple"></span>
                                <span class="pink"></span>
                                <span class="magenta"></span>
                                <span class="grey"></span>
                                <span class="darkblue"></span>
                                <span class="lightred"></span>
                                <span class="lightgrey"></span>
                                <span class="satblue"></span>
                                <span class="satgreen"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
          
				
				<div class="dropdown">

                    <a href="javascript:;"  target="_self" class='dropdown-toggle' data-toggle="dropdown" style="width:127px;"><nobr>{Session::get('name')} <span class="caret"></span></nobr></a>

                    <ul class="dropdown-menu pull-right">

                      

                        <li>

                            <a href="/dls/logout.html" target="_self">退出</a>

                        </li>

                    </ul>

                </div>
				
            </div>
        </div>
    </div>

    <div class="container-fluid" id="content">
        <div id="left">        
	      {loop $index1 as $ind}
	      	{if in_array($ind['name'], $hybmc)}
	      	{_ continue}
	      	{/if}	
	       	<div class="subnav">
	               <div class="subnav-title">
	                   <a href="javascript:void(0);" class='toggle-subnav'><i class="icon-angle-right"></i><span><img src="/res/add.png"/>{$ind['name']}</span></a>
	               </div>
	               <ul class="subnav-menu" style="display: none">
	               {loop $ind['sub'] as $in}
	               <li>
	                  <a href="/admin/{$in['file']}.html">{$in['name']}</a>
	               </li>
	               {/loop}
	               </ul>
	        </div>
	        {/loop} 
	        
	        {if count($index2) !=0}
	            <div class="subnav">   
		               <div class="subnav-title">
		                   <a href="javascript:void(0);" class='toggle-subnav'><i class="icon-angle-right"></i><span><img src="/res/add.png" />行业版</span><img id='new' src="/media/images/wm/T1lni5XhXXXXXXXXXX-9-14.gif" style="margin:0 3px " /></a>
		               </div>
		               <ul class="subnav-menu1" style="display: none">
		                    {loop $index2 as $ind1}
						       	<div class="subnav1">
						               <div class="subnav-title1">
						                  <a href="javascript:void(0);" class='toggle-subnav1'><i class="icon-angle-right"></i><span> <img src="/res/add.png" />{$ind1['name']}</span></a>
						               </div>
						               <ul class="subnav-menu1 subnav-menu3" style="display: none">
						               {loop $ind1['sub'] as $in1}
						               <li>
						                 <a href="/admin/{$in1['file']}.html">{$in1['name']}</a>
						               </li>
						               {/loop}
						               </ul>
						        </div>
						        {/loop} 
		               </ul>
		        </div>
		     {/if}

        </div>

        <div class="right">
            <div class="main">
                <iframe frameborder="0" id="mainFrame" name="mainFrame" src="/admin/userCenter/welcome3.html" style="background: url('http://stc.weimob.com/img/loading.gif') center no-repeat"></iframe>
            </div>
        </div>

    </div>
    
    
    <script type="text/javascript">
    $('[data-toggle="dropdown"]').each(function(){
    	$(this).parent().hover(function(){
    		$(this).find('ul').show();
    	},function(){
    		$(this).find('ul').hide();
    	});
    });
    $('div.subnav > .subnav-title').click(function(){
    	var pul = $(this).parent().find('ul:eq(0)');
    	if(pul.is(':hidden')){
        	$(this).find('img').attr('src','/res/jian.png');
    		var vone = $('div.subnav').find('ul:visible');
    		pul.slideDown(200,function(){
    			vone.slideUp();
    		});
    	}else{
    		$(this).find('img').attr('src','/res/add.png');
    		pul.slideUp();
    	}
    	$aa = $(this).find('img');
    	$('div.subnav').find('img').not($aa).attr('src','/res/add.png');
    	$('#new').attr('src','/media/images/wm/T1lni5XhXXXXXXXXXX-9-14.gif');
    	$('#strong').attr('src','/res/strong.gif');
    	$(".subnav-menu3").hide();
    });
    $('div.subnav').find('ul').children('li').click(function(){
    	$('div.subnav').find('ul').children('li').removeClass('active');
    	$(this).addClass('active');
    });
    $('.toggle-nav').click(function(){
    	if($('.right').is('.reight_p')){
    		$('.right').removeClass('reight_p');	
    		$('#left').show();
    	}else{
    		$('.right').addClass('reight_p');
    		$('#left').hide();
    	}    	
    });
    $('.main-nav').children('li').click(function(){
    	$('.main-nav').find('li').removeClass('active');
    	$(this).addClass('active');
    });


  ////
   $('div.subnav1 > .subnav-title1').click(function(){
    	var pul = $(this).parent().find('ul');
    	if(pul.is(':hidden')){
    		var vone = $('div.subnav1').find('ul:visible');
    		$(this).find('img').attr('src','/res/jian.png');
    		pul.slideDown(200,function(){
    			vone.slideUp();
    		});
    	}else{
    		$(this).find('img').attr('src','/res/add.png');
    		pul.slideUp();
    	}
    	$aa = $(this).find('img');
    	$('div.subnav1').find('img').not($aa).attr('src','/res/add.png');
    	$('#new').attr('src','/media/images/wm/T1lni5XhXXXXXXXXXX-9-14.gif');
    	$('#strong').attr('src','/res/strong.gif');
    });
    $('div.subnav1').find('ul').children('li').click(function(){
    	$('div.subnav1').find('ul').children('li').removeClass('active');
    	$(this).addClass('active');
    });
    $('.toggle-nav1').click(function(){
    	if($('.right').is('.reight_p')){
    		$('.right').removeClass('reight_p');	
    		$('#left').show();
    	}else{
    		$('.right').addClass('reight_p');
    		$('#left').hide();
    	}    	
    });
    $('.main-nav1').children('li').click(function(){
    	$('.main-nav1').find('li').removeClass('active');
    	$(this).addClass('active');
    });
  ///


    
    function fresh_sys(){
    	mainFrame.location.reload();
    	
    }
    </script>
    
  
   
</body>

</html>
