<footer>
	<nav class="nav">
		<ul class="box">
			<li>
				<a href="index.html" class="on">
					<p class="card"></p>
					<span>会员卡</span>
				</a>
			</li>
			<li>
				<a href="notice.html" >
					<p id="Js-msg-num" class="msg"  ></p>
					<span>消息</span>
				</a>
			</li>
			<li>
				<a href="signin.html" >
					<p class="sign"></p>
					<span>签到</span>
				</a>
			</li>
			<li>
				<a href="share.html" >
					<p class="share"></p>
					<span>分享</span>
				</a>
			</li>
			<li>
				<a href="my.html"  >
					<p class="my"  ></p>
					<span>我的</span>
				</a>
			</li>
		</ul>
	</nav>
</footer>