<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/main.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/dialog.css" media="all" />
		<script type="text/javascript" src="{$JS}mwm/nhyk/mymain.js"></script>
		<script type="text/javascript" src="{$JS}mwm/nhyk/dialog_min.js"></script>
		<script type="text/javascript" src="{$JS}mwm/nhyk/main.js"></script>
        <title>会员卡</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
               <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
</head>
    <body onselectstart="return true;" ondragstart="return false;">
        		<script>
		 	$().ready(function(){
				$("#nav_1 a").on("touchstart touchend mouseover mouseout", function(e){
					switch(e.type){
						case "touchstart":
						case "mouseover":
							this.classList.add("hover");
						break;
						case "touchend":
						case "mouseout":
							this.classList.remove("hover");
						break;
					}
				});
			});


			function getCoupon(id,type){
				loading('数据提交中...');
				$.ajax({
					url: "listCoupon.html?id="+id+"&type="+type,
					type:"POST",
					dataType:"json",
					success: function(html){
					    loading(false);
				    	if (html.status == 1) {
				    		alert(html.msg,1500);
							setTimeout("self.location.reload()",1500);
				    	} else {
				    		alert(html.msg,1500)
				    	}
					}
				});
			}
		</script>
		<div class="container coupon">
			<header>
				<nav id="nav_1" class="p_10">
					<ul class="box">
						<li><a href="javascript:;" class="on">优惠券</a></li>
						<li><a href="listVoucher.html">代金券</a></li>
					</ul>
				</nav>
			</header>
			<div class="body">
				<ul class="list_coupon">
					<ol>
					    {loop $rs as $v}
					 	<li data-card>
							<a href="javascript:;" onclick="this.classList.toggle('toggle');"  class="on"  >
								<header>
									<label>{$v->name}</label>
									{if $v->sendtimes!=0}
									<label class="fr" style="font-size:12px;">剩余{$v->shorttimes}张</label>
									{/if}
								</header>
								<section>
								   {if $v->shorttimes==0 && $v->sendtimes!=0}
									<div>
										<figure class="tbox" >
											<div><img src="{$v->pic}" /></div>
                                            <div><label>已领完</label></div>                                               		
										</figure>
									</div>
									{else}
										
										{if $v->hasget==0}
											<div>
												<figure class="tbox"  style="background: none repeat scroll 0 0 #5AC5D4;">
													<div ><img src="{$v->pic}" /></div>
		                                               <div onclick="getCoupon({$v->id},1);event.stopPropagation();"><label>领取</label></div>
												</figure>
											</div>
										{else}
											<div>
												<figure class="tbox" >
													<div><img src="{$v->pic}" /></div>
		                                            <div><label>已领取</label></div>                                               		
												</figure>
											</div>
										{/if}

									{/if}
									
									
									<div class="des">
										<dl>
											<dt onclick="this.classList.toggle('on');event.stopPropagation();">有效期至{$v->bttime} </dt>
											<dd>
											     {$v->des}	
											</dd>
											<!--<dd>
												<p style="white-space:pre-line;">适用门店： 
												   {if $v->store==0}
													所有门店
												   {/if}
												</p>
											</dd>-->
										</dl>
									</div>
								</section>
							</a>
						</li>
					   {/loop}
				  </ol>
				</ul>
			</div>
			{if $wid=='6764263'}
		  {I http://houtai.weixinguanjia.cn/nhyk/footer6764263.html}
		  {elseif $wid==6765368 || $wid==6780484||$wid==6788906}
		  {I footer_yypk.html}
		{else}
          {I http://houtai.weixinguanjia.cn/nhyk/footer.html}
        {/if}

<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady()  {
			WeixinJSBridge.call('hideOptionMenu');
		});
		
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>		
</div>        		
<div mark="stat_code" style="width:0px; height:0px; display:none;"></div>
</body>
</html>

