<!DOCTYPE html>
<html>
               <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/main.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/dialog.css" media="all" />
		
		<script type="text/javascript" src="{$JS}mwm/nhyk/mymain.js"></script>
		<script type="text/javascript" src="{$JS}mwm/nhyk/main.js"></script>
		<script type="text/javascript" src="{$JS}mwm/nhyk/dialog_min.js"></script>
        <title>会员卡</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
               <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
</head>
    <body onselectstart="return true;" ondragstart="return false;">
        		<script>
			document.addEventListener('WeixinJSBridgeReady', function onBridgeReady()  {
				WeixinJSBridge.call('hideOptionMenu');
			});
		
		 	$().ready(function(){
				$("#nav_1 a").on("touchstart touchend mouseover mouseout", function(e){
					switch(e.type){
						case "touchstart":
						case "mouseover":
							this.classList.add("hover");
						break;
						case "touchend":
						case "mouseout":
							this.classList.remove("hover");
						break;
					}
				});
			});
		 	function del(id){
				confirm("确定删除吗？", function(){
					var req = {
						id: id
					}
					loading(true);
					//提交信息
					$.ajax({
						type: "post",  
						url: "myVoucher-{del}-"+id+".html",
						dataType: "json",  
						success: function(html){
							loading(false);
					    	if (html.status == 1) {
								alert(html.msg,1500);
								setTimeout("location.reload();",1500);
					    	} else {
					    		alert(html.msg,1500)
					    	}
						}
					});
				}, function(){});
			}
		</script>
	</head>
	<style>
		.list_coupon_ul{
			padding-top:10px;
		}
		.list_coupon_ul li[data-card]:first-of-type{
			margin-top:0;
		}

		
	</style>
	<body onselectstart="return true;" ondragstart="return false;">
	    {if empty($rs)}
		<div class="container coupon cash_coupon cash_coupon_my none">
		{else}
		<div class="container coupon cash_coupon cash_coupon_my ">
		{/if}
			<header>
				<nav class="p_10">
					<ul class="box">
					    <li><a href="myVoucher-{n}.html" {if $sta==0} class="on" {/if} >未使用</a></li>
						<li><a href="myVoucher-{y}.html" {if $sta==1} class="on" {/if} >已使用</a></li>
					</ul>
				</nav>
			</header>
			<div class="body">
				<ul class="list_coupon_ul">
				   {loop $rs as $v}

					<li>
					  {if $sta==0 && strtotime($v->bttime) >= time()}
						<a href="useVoucher-{$sta}-{$v->id}.html"  style="position: relative;" >
							<p><span>{$v->dmoney}</span>元</p>
							<p>★订单满{$v->xemoney}元可使用</p>
							<p>有效期至{$v->bttime}</p>
							 <p></p><p>立即使用</p>	
						</a>
					 {else}
					    <a href="javascript:;"  style="position: relative;"  >
							<p><span>{$v->dmoney}</span>元</p>
							<p>★订单满{$v->xemoney}元可使用</p>
							<p>有效期至{$v->bttime}</p>
							<p></p><p><?= strtotime($v->bttime)<= time()?'已过期':'已使用'; ?></p>
							<!--  <span class="del" onclick="del(9509); event.stopPropagation();">&nbsp;</span>	-->
					    </a>
					 {/if}
					 
					</li>
				   {/loop}
				</ul>
			</div>
	{if $wid=='6764263'}
		  {I http://houtai.weixinguanjia.cn/nhyk/footer6764263-4.html}
		  {elseif $wid==6765368 || $wid==1322||$wid==6788906}
		  {I footer_yypk.html}
		{else}
          {I http://houtai.weixinguanjia.cn/nhyk/footer-4.html}
        {/if}

<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>		</div>
	</body>
</html>        		<div mark="stat_code" style="width:0px; height:0px; display:none;">
					</div>
	</body>
</html>

