<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/main.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{$CSS}mwm/nhyk/dialog.css" media="all" />
		<script type="text/javascript" src="{$JS}mwm/nhyk/main.js"></script>
        <title>会员卡</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
               <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
</head>
    <body onselectstart="return true;" ondragstart="return false;">
<div class="container integral integral_record integral_my coupon">
	<header>
		<nav id="nav_1" class="p_10">
			<ul class="box">
				<li><a href="scorelist-1.html" {if $k==1} class="on" {/if}>全部</a></li>
				<li><a href="scorelist-2.html" {if $k==2} class="on" {/if}>获得</a></li>
				<li><a href="scorelist-3.html" {if $k==3} class="on" {/if}>支出</a></li>
			</ul>
		</nav>
	</header>
	<div class="body">
		<section class="p_10">
			<table class="table_record">
				<thead>
				<tr>
					<td style="width:30%;">积分详情 </td>
					<td style="width:50%;">日期 </td>
					<td style="width:20%;">积分</td>
				</tr>
				</thead>
						<tbody>
						{if $rsc>0}
                        {loop $rs as $v}				
						<tr>
							<td>{$ta[$v->type]}  </td>
							<td>{$v->create_time} </td>
							<td>{if $v->score>0}+{$v->score}{else}{$v->score}{/if}</td>
						</tr>
					    {/loop}
					    {else}
					    <table class="table_record empty">
			          	</table>
			          	{/if}
				       </tbody>
				</table>
		</section>
	</div>
			{if $wid=='6764263'}
		  {I http://houtai.weixinguanjia.cn/nhyk/footer6764263-4.html}
		{else}
          {I http://houtai.weixinguanjia.cn/nhyk/footer-4.html}
        {/if}

<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady()  {
			WeixinJSBridge.call('hideOptionMenu');
		});
		
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script></div>        		<div mark="stat_code" style="width:0px; height:0px; display:none;">
					</div>
	</body>
</html>

