

	<div class="footer-second hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-8" style="margin-left: 210px;">
					<div class="row">
						<div class="col-sm-3">
							<h3>走进颐正</h3>
							<ul>
								<li>
									<a href="about.html" target="_blank" >企业简介</a>
								</li>
								<!-- <li> 
									<a href="javascript:if(confirm('https://vr.tedx.net/m  \n\n¸ÃÎÄ¼þÎÞ·¨ÓÃ Teleport Ultra ÏÂÔØ, ÒòÎª ËüÊÇÒ»¸öÓò»òÂ·¾¶Íâ²¿±»ÉèÖÃÎªËüµÄÆôÊ¼µØÖ·µÄµØÖ·¡£  \n\nÄãÏëÔÚ·þÎñÆ÷ÉÏ´ò¿ªËü?'))window.location='https://vr.tedx.net/m'" tppabs="https://vr.tedx.net/m" target="_blank" >关于我们</a> 
								</li> -->
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>热点聚焦</h3>
							<ul>
								<li>
									<a href="news.html"  target="_blank" >新闻动态</a>
								</li>
								<li>
									<a href="news-3.html" target="_blank" >案例展示</a>
								</li>
							</ul><!--åº•éƒ¨å¯¼èˆª çƒ­ç‚¹èšç„¦-->
						</div>
						<div class="col-sm-3">
							<h3>健康产品</h3>
							<ul>
								<li>
									<a href="product.html" target="_blank" >产品简介</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>服务大厅</h3>
							<ul>
								<li>
									<a href="dy-5.html"  target="_blank" >联系我们</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer start -->
	<div class="footer">
		<div class="container">
			<div class="footer-nav">
				<!-- <span>
					<a href="http://www.lkkhpg.com/" target="_blank" >颐正养生堂健康理疗连锁有限公司</a>
				</span>          
				<span>
					<a href="http://www.saic.gov.cn/" target="_blank" >国家工商总局直销行业管理</a>
				</span>          
				<span>
					<a href="https://gbss.infinitus.com.cn/gbss-query/admin/gbss-query-admin/qualityRepor/dealerLogin" target="_blank" > 产品批次报告查询</a>
				</span>          
				<span>
					<a href="http://wwwimg.infinitus.com.cn/up/2014/0508/1399486867324.jpg" target="_blank" >国际联网备案登记证书</a>
				</span>     -->      
				</div>            	
					<div class="copyright">
						{$set->copyright}
						<a href="http://www.miitbeian.gov.cn/" target="_blank" >[{$set->icp}]</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- footer end -->