

		<div id="nav-wrap">
		<!-- nav Start --> 
			<div id="nav-cont" class="visible-md visible-lg">
				<div style="" class="nav-list">
					<ul class="container">
						
						<li class="navlist pull-right"> 
							<div class="clearfix"> 
								<a href="index.html" {if $index == "index"} class="navbg"{/if} id="meng_go1" >首页</a> 
								<a href="about.html"   {if $index == "about"} class="navbg"{/if} id="meng_go2">企业简介</a>
								<a href="product.html" {if $index == "pro"} class="navbg"{/if} id="meng_go3">产品简介</a>
								<a href="shop.html" {if $index == "shop"} class="navbg"{/if} id="meng_go4">店铺展示</a>
								<a href="news-3.html" {if $index == "anli"} class="navbg"{/if} id="meng_go5">案例展示</a>
								<a href="news.html"  {if $index == "new"} class="navbg"{/if} id="meng_go6">最新动态</a>
								<a href="dy-5.html" {if $index == "cont"} class="navbg"{/if} id="meng_go7">联系我们</a>
							</div>
						</li>
						<li class="pull-right mylogo">
							<div class="logo">
								<a href="/" tppabs="index.html">
									<img src="{$set->logo}" alt="logo" class="img-responsive">
								</a>
							</div>
						</li>
					</ul>
				</div>
					 
				<div id="nav-want-cont-wrap" style="background-color: rgb(247, 247, 247); border-top: medium none;">
					<div class="container">
						<div style="display: none;" class="nav-cont-wrap">
							<ul class="clearfix">
							
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- nav End --> 
		</div>